<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    <div class="form-container">
      <form action="/create-user" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email.." />

        <label for="name"> Name</label>
        <input type="text" id="name" name="name" placeholder="Your name.." />

        <label for="city"> City</label>
        <input type="text" id="city" name="city" placeholder="Your city.." />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
